Previous chapters discussed the important topics of organizing your tables well and getting data into them. In this chapter, we will cover a key objective that makes the others pay offl retrieving the data stored ina database. This is commonly called a database query.

The simplest way to retrieve data from a MySQL or MariaDB database - to select data- is to use the SQL statement, SELECT. We used this SQL statement a few times in previous chapters. In this chapter, we will cover it in greate detail. It's not necessary to know or use all of the many options, but some techniques such as joining tables together are basic to using relational atabases.

We'll begin this chapter by reviewing the basics of the SELECT statement, and then progress to more involved variants. When you finish this chapter, you will hopefully have a good understanding of how to use SELECT for most of your needs as you start out as a database developer, as well as be prepared for the many possibilities and special situations that may arise over the years of developing databses with MySQL and MariaDB.

In previous chapters, especially in the exercises, you were asked to enter data into the tables that we created and altered in the chapters of the previous part of this book. Entering data on your own was good for training purposes, but we now need much more data in our databases to better appreciate the examples in this chapter. If you haven't done so already, go to this book's website and download the dump files that contain tables of data.

## Basic Selection

# Joining and subquerying data

- Subquery 

The second factor is whether the results returned from a subquery are in keeping with the expectations of the outer query. For instance, in the first generic example, the UPDATE clause has a WHERE clause that expects a single value from the subquery. If the subquery returns several values, a row of columns, or a table of results, it will confuse MySQL and cause an error. So you need to be sure that the subquery you construct will return the type of values required by the outer query as you constructed it.

- [optimizing subquery](https://dev.mysql.com/doc/refman/5.6/en/optimizing-subqueries.html)

# ch13