In each chaptr of this part, there are practical examples that are used to explain the various SQL statements and related factors. You should enter those examples into your server. Even if you are reading this book from a digital version on your computer, I recommend highly that you manually type all of the SQL statements you are instructed to enter. It may seem like a little thing, but the process of typing them will aid your learning process and help you remember the syntax and the deviations of each SQL statement. When you make a mistake and type something incorrectly, you'll get an error message. Deciphering error messages is part of being a good MySQL and MariaDB developer. If you copy and paste everything as I present it to you, you will only confirm the accuracy of book's examples, and you wiil learn only a littlr. It's easy to learn when you don't make any mistakes. It's more difficult, but you will learn more when you manually enter the SQL statements and get errors and then have to determine where you went wrong.

At the end of eash chapter of this part, as with alomost all of the chapters in this book, there are exercises. For the same reasons that you should enter the SQL statemets in the examples throughout the chapters, You should also complete the exercises. This is not just a book to be read. It's meant to be a tool to help you to learni MySQL and MariaDb. To accomplish that, you must do more than just read the chapters: You need to participate, experiment, and research. If you make this kind of effort you will benefit greatly from this book. This is probably the most essential part of the book, so you should fully engage with these concluding chapters.

# Ch6 : Inserting data

## The Table for Bird Families

```sql
insert ignore into bird_families
(scientific_name, brief_Description, cornell_bird_order) select brid_family, examples, bird_order from cornell_birds_families_orders;
```

I've added the IGNORE option. I used this beause the bird_families table already had data in it. Because the scientific_name column is set to UNIQUE, it does not permit duplicate values. If a multiple-row insert statement like this encounters any errors, it will fail and return an error message. The ignore flag instructs the server to ignore any errors it encounters while processing the SQL statement , and to insert the rows that may be inserted without problems. Instead of failing and showing an error message, warning messages are stored on the server for you to look at later. When the server is finished, if you want, you can run the show warnings statement to see which rows of data weren't inserted into the table.

## A Digression : Setting the Right ID

## Replacing Data